@font-face {
    font-family: customFonts;
    src: url("../asset/fonts/Dancing_Script/static/DancingScript-Regular.ttf");
  }
  
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
 .tabledata {
    font-variant: small-caps;
    text-shadow: -2px 4px #ff0000, 2px -4px #00ff00;
    border: 2px solid greenyellow;
    outline-style: solid;
    outline-color: red;
    opacity: 1;
  }
  
  table,
  th,
  td {
    border: 4px solid black;
    /* border-collapse: collapse; */
    border-radius: 10px;
  }
  
  table {
    margin: 50px auto;
  }
  
  th {
    font-size: 2em;
    font-family: customFonts;
    font-weight: 100;
    color: blue;
    text-decoration: underline;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-indent: 5px;
    line-height: 150%;
  }
  
  tbody {
    font: oblique normal 1.5em "Times New Roman", serif;
    text-align: 'centre';
    text-transform: lowercase;
  }
  
  td { 
    overflow: auto;
  }
  
  .buttonapp {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    margin: 20px;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline;
    font-size: 20px;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    cursor: pointer;
  }